# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*tfplan*
*.tfstate.backup
*.tfvars
*.auto.tfvars

# Sensitive variables
terraform.tfvars

# Ansible
*.retry
*.vault-pass
ansible/ansible.cfg~   # エディタのバックアップ等

# VSCode / Dev Container
.vscode/
.devcontainer/.env

# Logs / misc
*.log
__pycache__/
*.pyc

# SSH keys
**/.ssh/
id_rsa
id_rsa.pub

# その他
.env